// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary: #182848;
$color-secundary: #f9f7fc;
$color-accent: #8498BF;
