html,
body {
    background-image: linear-gradient(to bottom, #182848, #21345b, #2a4070, #334d85, #3d5a9a);
    background-repeat: no-repeat;
    height: 100%;
}

.navbar {
    color: $color-secundary;

    a {
        color: $color-secundary;

        &:hover {
            color: $color-accent;
        }
    }
}
